extends includes/_skeleton
append config
    -pageTitle = "Grupo ADL"

block header
    header.header
        .header__title
            h1 #{pageTitle}
        .header__image
            img(src="http://www.foodlosofia.cl/wp-content/uploads/2018/11/platoscalientes.jpg", alt="")
        .header__desc
            p Texto faltante
    main.product
        each product in grupoAdl
            +product2(product)
    script(src="./index.js")