.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}
.glide__arrow{position:absolute;display:block;top:50%;z-index:2;color:white;text-transform:uppercase;padding:9px 12px;background-color:transparent;border:2px solid rgba(255,255,255,0.5);border-radius:4px;box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);text-shadow:0 0.25em 0.5em rgba(0,0,0,0.1);opacity:1;cursor:pointer;transition:opacity 150ms ease, border 300ms ease-in-out;transform:translateY(-50%);line-height:1}.glide__arrow:focus{outline:none}.glide__arrow:hover{border-color:white}.glide__arrow--left{left:2em}.glide__arrow--right{right:2em}.glide__arrow--disabled{opacity:0.33}.glide__bullets{position:absolute;z-index:2;bottom:2em;left:50%;display:inline-flex;list-style:none;transform:translateX(-50%)}.glide__bullet{background-color:rgba(255,255,255,0.5);width:9px;height:9px;padding:0;border-radius:50%;border:2px solid transparent;transition:all 300ms ease-in-out;cursor:pointer;line-height:0;box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);margin:0 0.25em}.glide__bullet:focus{outline:none}.glide__bullet:hover,.glide__bullet:focus{border:2px solid white;background-color:rgba(255,255,255,0.5)}.glide__bullet--active{background-color:white}.glide--swipeable{cursor:grab;cursor:-moz-grab;cursor:-webkit-grab}.glide--dragging{cursor:grabbing;cursor:-moz-grabbing;cursor:-webkit-grabbing}
.menu-wrapper {
  width: 20px;
  height: 26px;
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
  appearance: none;
  padding-right: 2rem; }
  @media screen and (min-width: 768px) {
    .menu-wrapper {
      display: none; } }

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 20px;
  height: 2px; }

.hamburger-menu {
  position: relative;
  background: white;
  transition: all 0ms 300ms; }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0); }

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

@font-face {
  font-family: 'Sanchez';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/Sanchezblack.otf) format("opentype"); }

@font-face {
  font-family: 'Sanchez';
  font-weight: 700;
  font-style: normal;
  src: url(fonts/Sanchezbold.otf) format("opentype"); }

@font-face {
  font-family: 'Sanchez';
  font-weight: 500;
  font-style: italic;
  src: url(fonts/Sanchezsemibold-ita.otf) format("opentype"); }

@font-face {
  font-family: 'Sanchez';
  font-weight: 300;
  font-style: normal;
  src: url(fonts/Sanchezregular.otf) format("opentype"); }

@font-face {
  font-family: 'Sanchez';
  font-weight: 200;
  font-style: normal;
  src: url(fonts/Sanchezextralight.otf) format("opentype"); }

@font-face {
  font-family: 'DearType';
  font-weight: 300;
  font-style: normal;
  src: url(fonts/DearTypeTimeout-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Cera';
  font-weight: 900;
  font-style: normal;
  src: url(fonts/CeraProBlack.otf) format("opentype"); }

.navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 80px;
  background-color: #fa423b; }
  .navbar__logo {
    height: 100%;
    padding: .8rem 0rem;
    padding-left: 1rem; }
  .navbar .menu {
    position: relative;
    display: flex; }
    .navbar .menu li {
      display: flex;
      transition: background-color .5s ease;
      text-align: center;
      flex: 1;
      align-items: center;
      white-space: nowrap; }
      @media screen and (min-width: 768px) {
        .navbar .menu li:hover a {
          color: rgba(255, 255, 255, 0.8); }
          .navbar .menu li:hover a.hasDropdown:after {
            transform: rotate(180deg);
            transform-origin: 50% 25%; }
        .navbar .menu li:hover .container {
          display: flex; } }
    .navbar .menu a {
      position: relative;
      display: inline-flex;
      padding: 20px;
      text-decoration: none;
      color: #fff;
      flex: 1;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 2px;
      transition: .2s color ease-in-out; }
      .navbar .menu a.hasDropdown {
        margin-right: 10px; }
        .navbar .menu a.hasDropdown:after {
          content: '';
          transition: .2s all ease-in-out;
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          background-size: 100%;
          z-index: 10;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyOCAxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QYXRoPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+ICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSI2IiBwb2ludHM9IjMuMDE5NTMxMjUgMy41MzkwNjI1IDEzLjg0OTYwOTQgMTQuMzY5MTQwNiAyNC42Nzk2ODc1IDMuNTM5MDYyNSI+PC9wb2x5bGluZT4gICAgPC9nPjwvc3ZnPg==); }

/* End Navigation Bar */
/* Start Single Section Menu */
.container {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  display: none;
  margin-bottom: 30px;
  text-align: left;
  background-color: #1A2233; }
  .container__list {
    min-width: 0;
    padding: 20px;
    flex: 1;
    flex-wrap: wrap; }
  .container__listItem {
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
    flex: 0 0 25%; }
    .container__listItem > .item {
      overflow: hidden;
      padding: 0 !important;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      color: #FD4A41 !important;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 2px;
      transition: .2s color ease-in-out; }
      .container__listItem > .item:hover {
        color: #fff !important; }

/* End Single Section Menu */
/* Start Multiple Section Menu */
/* End Multiple Section Menu */
/* Start Responsive Menu */
.mobile-menu {
  display: none; }

@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    margin: 20px; }
  .mobile-menu > i {
    cursor: pointer; }
  .navbar .menu {
    position: absolute;
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    top: -100%;
    border-radius: 0;
    will-change: top;
    background-color: #1A2233;
    width: 100%;
    flex-direction: column; }
  .navbar--is-visible .menu {
    top: 80px;
    z-index: 1; }
  .navbar .menu li {
    position: relative;
    flex-direction: column;
    transition: initial; }
  .navbar .menu li.is-selected {
    position: relative;
    background-color: #FD4A41; }
    .navbar .menu li.is-selected a.hasDropdown:after {
      transform: rotate(180deg);
      transform-origin: 50% 25%; }
  .container {
    position: static;
    display: flex;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    transition: all .3s ease;
    width: 100%;
    text-align: center; }
  .container--is-visible {
    max-height: 1000px !important; }
  .container__list .container__listItem:nth-child(n + 11) {
    display: none; }
  .navbar .menu li .container__listItem {
    flex-basis: 100%; } }

/* End Responsive Menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Raleway', sans-serif; }

.main__food {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  font-family: 'Cera';
  text-transform: uppercase;
  font-size: 2.4rem;
  height: auto;
  overflow: hidden; }
  @media screen and (min-width: 1240px) {
    .main__food {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); } }
  .main__food:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
  .main__food > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
  .main__food > a {
    position: relative;
    text-align: center; }
    .main__food > a:hover img {
      width: 105%;
      height: 105%; }
    .main__food > a:hover span {
      background-color: rgba(0, 0, 0, 0.7); }
  .main__food > a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s all ease-in-out; }
  .main__food > a span {
    position: absolute;
    color: white;
    padding-top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    transition: .2s all ease-in-out; }

.glide {
  height: 100%; }
  .glide__slides {
    height: 100%; }
  .glide__track {
    height: 100%; }
  .glide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    line-height: 0;
    display: block; }
  .glide__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.4rem;
    font-family: 'DearType', sans-serif;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 2rem;
    white-space: nowrap; }
    @media screen and (min-width: 480px) {
      .glide__title {
        font-size: 4rem; } }
  .glide__entucasa {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    font-family: 'Sanchez', sans-serif;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase; }
    @media screen and (min-width: 480px) {
      .glide__entucasa {
        font-size: 3rem; } }
  .glide__slide {
    position: relative; }
    .glide__slide > span {
      position: absolute;
      left: 50%;
      top: 6rem;
      color: white;
      transform: translateX(-50%);
      z-index: 3;
      font-size: 1.2rem;
      text-shadow: 1px 1px black; }
      @media screen and (min-width: 480px) {
        .glide__slide > span {
          font-size: 2rem; } }

.main {
  display: grid;
  grid-gap: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  height: auto; }
  @media screen and (min-width: 768px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto); } }
  @media screen and (min-width: 1024px) {
    .main {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 92vh; } }

.blocks {
  overflow: hidden; }

.blocks:first-child {
  grid-column: 1/2;
  grid-row: 2/4; }
  @media screen and (min-width: 768px) {
    .blocks:first-child {
      grid-column: 1/2;
      grid-row: 1/4; } }
  @media screen and (min-width: 1024px) {
    .blocks:first-child {
      grid-column: 1/2;
      grid-row: 1/4; } }

.blocks:nth-child(2) {
  grid-column: 1/3;
  grid-row: 1/2; }
  @media screen and (min-width: 768px) {
    .blocks:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2; } }
  @media screen and (min-width: 1024px) {
    .blocks:nth-child(2) {
      grid-column: 2/4;
      grid-row: 1/2; } }

.blocks:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/4; }
  @media screen and (min-width: 768px) {
    .blocks:nth-child(3) {
      grid-column: 2/3;
      grid-row: 2/3; } }
  @media screen and (min-width: 1024px) {
    .blocks:nth-child(3) {
      grid-column: 2/3;
      grid-row: 2/3; } }

.blocks:nth-child(4) {
  grid-column: 2/3;
  grid-row: 4/5; }
  @media screen and (min-width: 768px) {
    .blocks:nth-child(4) {
      grid-column: 2/3;
      grid-row: 3/4; } }
  @media screen and (min-width: 1024px) {
    .blocks:nth-child(4) {
      grid-column: 3/4;
      grid-row: 2/3; } }

.blocks:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/3; }
  @media screen and (min-width: 768px) {
    .blocks:nth-child(5) {
      grid-column: 1/2;
      grid-row: 4/5; } }
  @media screen and (min-width: 1024px) {
    .blocks:nth-child(5) {
      grid-column: 4/5;
      grid-row: 1/2; } }

.blocks:last-child {
  grid-column: 1/2;
  grid-row: 4/5; }
  @media screen and (min-width: 768px) {
    .blocks:last-child {
      grid-column: 2/3;
      grid-row: 4/5; } }
  @media screen and (min-width: 1024px) {
    .blocks:last-child {
      grid-column: 4/5;
      grid-row: 2/3; } }

.header {
  display: grid;
  grid-template-columns: 20% 50% auto; }
  @media screen and (max-width: 768px) {
    .header {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 769px), print {
    .header {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 1024px) {
    .header {
      grid-template-columns: 24% 50% auto; } }
  .header__title {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.6rem;
    min-height: 180px;
    font-family: 'Cera';
    text-transform: uppercase; }
    .header__title:before {
      content: '';
      position: absolute;
      height: 8px;
      width: calc(100% - 1.6rem);
      background-color: #2EAEFF;
      top: 60%; }
  .header__image {
    height: 100%; }
    .header__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .header__desc {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 180px;
    padding: 1.6rem;
    background-color: #1A2339;
    color: white;
    font-family: 'Sanchez';
    font-weight: 200;
    line-height: 2.5rem; }

.product {
  display: grid; }
  @media screen and (max-width: 768px) {
    .product {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 769px), print {
    .product {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 1024px) {
    .product {
      grid-template-columns: repeat(2, 1fr); } }
  .product__section {
    display: flex;
    padding: 1.6rem;
    color: #2EAEFF; }
    @media screen and (max-width: 768px) {
      .product__section {
        flex-direction: column; }
        .product__section:nth-child(odd) {
          background-color: #FBF6F4;
          color: #FD4A41; } }
    @media screen and (min-width: 769px) and (max-width: 1023px) {
      .product__section {
        flex-direction: row; }
        .product__section:nth-child(odd) {
          background-color: #FBF6F4;
          color: #FD4A41; } }
    @media screen and (min-width: 1024px) {
      .product__section {
        flex-direction: row; }
        .product__section:nth-child(4n), .product__section:nth-child(4n+1) {
          background-color: #FBF6F4;
          color: #FD4A41; } }
  .product__ingredients {
    flex-basis: 50%;
    margin-right: 32px; }
    @media screen and (max-width: 768px) {
      .product__ingredients {
        padding-bottom: 40px; } }
  .product__nutritional {
    color: black;
    flex-basis: 50%; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  border: 1px solid black; }
  @media screen and (max-width: 768px) {
    table {
      white-space: normal; } }

thead {
  border-bottom: 1px solid black; }

tbody tr td {
  border-right: 1px solid black; }

tbody tr td {
  padding: 2px 8px; }
  tbody tr td:not(:first-child) {
    text-align: center; }

td, th {
  text-align: left;
  padding: 8px; }

.nutritional__title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.85rem;
  text-align: center; }

.nutritional__desc {
  font-size: 0.65rem;
  font-weight: 600;
  vertical-align: bottom; }
  .nutritional__desc:nth-child(n+2) {
    text-align: center; }

.nutritional__head {
  font-family: 'Sanchez', sans-serif; }

.nutritional__body {
  font-size: 0.65rem;
  font-weight: 700; }

.ingredients__title {
  text-transform: uppercase;
  padding-bottom: 16px;
  font-size: 1.2rem;
  font-family: 'Cera'; }

.ingredients__desc {
  line-height: 2rem;
  font-family: 'Sanchez';
  font-weight: 300;
  color: initial; }
  .ingredients__desc span {
    font-weight: 900; }

.nutritional__indent {
  text-indent: 16px; }

.open {
  transform: translateX(0px);
  right: 0 !important;
  padding-right: 4rem; }

#map {
  width: 100vw;
  height: 60vh; }
  @media screen and (min-width: 768px) {
    #map {
      width: 80vw;
      height: 92vh; } }

.map {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .map {
      flex-direction: row; } }

.places {
  padding-top: 2rem;
  height: 32vh;
  overflow: scroll; }
  .places__item {
    border-bottom: 1px solid #E9E9E9;
    padding-left: 1.6rem;
    padding-bottom: .4rem; }
    .places__item:not(:first-child) {
      padding-top: .4rem; }
  .places .place__address {
    margin-bottom: 1rem;
    color: #333;
    font-size: 14px;
    font-family: 'Raleway', sans-serif; }
  .places .place__contact {
    display: block; }
  .places .place__title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    color: #fa423b;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .places {
      overflow: visible;
      height: initial; } }
